{% extends "base.html" %}

{% block content %}
<div class="glass-panel" style="max-width: 800px; width: 100%;">
    <div style="display: flex; justify-content: space-between; align-items: center; border-bottom: 1px solid rgba(255,255,255,0.1); padding-bottom: 1rem; margin-bottom: 2rem;">
        <h2>Dobrodošel, @{{ username }}!</h2>
    </div>
    
    <p style="color: #cbd5e1; text-align: center;">Tukaj bo jutri nastal iskalnik filmov in serij (TMDB API) ter sekcija za MBTI glasovanje!</p>
</div>
{% endblock %}